<header class="header">
  <div class="group">
    <a class="header__logo" href="/">LEGO not Legos</a>
    <a class="header__share" href="{{ shareUrl }}" rel="noopener" target="_blank">Tweet it!</a>
  </div>
</header>
