$lego-red: #D11013;
$lego-white: #FFF;
$lego-yellow: #FFED00;
$lego-black: #000;

$color-lightest: $lego-white;
$color-light: #EDEDED;
$color-dark: darken($lego-red, 10%);
$color-minifig: #ffe889;

$header-height: 3rem;
$header-offset: 1.5rem;
