.header {
  background: $lego-red;
  color: $lego-white;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $header-height;
  position: fixed;
  display: flex;
  align-items: center;
  font-weight: 600;

  @media screen and (min-width: 48em) {
    margin-top: $header-offset;
    margin-bottom: ($header-offset + $header-height) * -1;
    position: sticky;
  }

  .group {
    padding: 0;
    align-items: center;
    display: flex;
  }

  &__logo {
    font-size: 1.125rem;
    font-weight: 400;
  }

  &__share {
    margin-left: auto;
    font-size: 0.9375rem;
  }
}
